(
    view: (
        bpm: 89,
        width: 640,
        height: 360,
        target_fps: 60,
        dynamic: true,
        vsync: true,
        screenshot: false,
        screenshot_path: "output/",
        locked_speed: false,
        fullscreen: false,
    ),
    server: (
        ip: "127.0.0.1",
        port: 3000,
        enable: false,
    ),
    inputs: {
        "Forest": (
            type: "Picture",
            path: "res/forest.jpg",
            width: 640,
            height: 480,
        ),
        "Hearts": (
            type: "Picture",
            path: "res/Hearts.png",
            width: 640,
            height: 480,
        ),
        "Camera": (
            type: "Cam",
            path: "/dev/video0",
            width: 640,
            height: 480,
        ),
    },
    filters: {
        "target": (
            inputs: [
                "iChannel0",
                "iChannel1",
                "iChannel2",
            ],
            vertex_shader: [
                "#std/default.vs.glsl",
            ],
            fragment_shader: [
                "#std/header.glsl",
                "src/cam.fs.glsl",
            ],
            variables: {},
        ),
    },
    render_chain: [],
    final_stage: (
        name: "target",
        filter: "target",
        inputs: {
            "iChannel2": Linear("Hearts"),
            "iChannel1": Linear("Camera"),
            "iChannel0": Linear("Forest"),
        },
        variables: {},
        precision: U8,
    ),
)
