(
    inputs: [
        "iChannel0", 
        "iChannel1", 
        "iChannel2"
    ],
    variables: {},
    vertex_shader: [
        "#std/default.vs.glsl",
    ],
    fragment_shader: [
        "#std/header.glsl",
        "src/target.fs.glsl",
    ]
)